---
export interface Props {
  project: ProjectI;
}
import type { ProjectI } from "src/types/project";
import styles from "./Project.module.scss";
import { Tag } from "@components/tag";
import InfoLabel from "../infoLabel/InfoLabel.astro";
import { HyperLinkLabel } from "../hyperLinkLabel/HyperLinkLabel";
const { project } = Astro.props;
const { title, image, description, tags, projectInformation, hyperlinks } =
  project;
---

<div class={styles["project-container"]}>
  <div class={styles["project-image-container"]}>
    <div class={styles["tags-container"]}>
      {tags.map((tag) => <Tag label={tag} />)}
    </div>
    <img class={styles["project-image"]} src={image} alt="Image background" />
  </div>
  <div class={styles["project-information-container"]}>
    <span class={styles.title}>{title}</span>
    <p>{description}</p>
    <div class={styles["project-information-specs"]}>
      <InfoLabel title="PROJECT INFO" description="" />
      {
        projectInformation.map((info) => (
          <InfoLabel title={info.label} description={info.value} />
        ))
      }
    </div>
    <div class={styles["project-hyperlinks-container"]}>
      {
        hyperlinks.map(({ label, url, icon }, index) => (
          <HyperLinkLabel client:load icon={icon} label={label} url={url} />
        ))
      }
    </div>
  </div>
</div>
