---
import styles from "./HeroLayout.module.scss";
import {
  ContactSection,
  Divider,
  ProjectsSection,
  FormSection,
} from "../../components";
import {
  heroData,
  getProjectsWithTranslations,
  getExperienceWithTranslations,
} from "@data/i18n-data";
import { ImageWithLoader } from "@components/image-loader/ImageLoader";
import { Tag } from "@components/tag";
import ExperienceCard from "@components/cards/experience/ExperienceCard.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { capabilities } = heroData;
const projectsList = getProjectsWithTranslations(lang);
const experienceList = getExperienceWithTranslations(lang);
---

<main class={styles.container}>
  <div class={styles["hero-section-container"]}>
    <div class={styles["hero-information"]}>
      <h1>{t("hero.title")}</h1>
      <p class={styles["hero-description"]}>
        {t("hero.description")}
      </p>
      <ContactSection client:load />
    </div>
    <div class={styles["image"]}>
      <ImageWithLoader
        loading="eager"
        src="/images/profile/profile.webp"
        alt="Hector Matus"
      />
    </div>
  </div>
  <Divider />
  <div class={styles["projects-section-container"]}>
    <ProjectsSection projectsList={projectsList} />
  </div>
  <Divider />
  <div id="about-section" class={styles["about-section-container"]}>
    <div class={styles["about-info-container"]}>
      <div class={styles["about-info"]}>
        <h2>{t("capabilities.title").toUpperCase()}</h2>
      </div>
      <div class={styles["about-info"]}>
        <p>
          {t("capabilities.description")}
        </p>
        <div class={styles["about-tags-container"]}>
          {capabilities.capabilitiesList.map((tag) => <Tag label={tag} />)}
        </div>
      </div>
    </div>
    <Divider />
    <div class={styles["about-info-container"]}>
      <div class={styles["about-info"]}>
        <h2>{t("experience.title").toUpperCase()}</h2>
      </div>
      <div class={`${styles["about-info"]} ${styles["experience-container"]}`}>
        {experienceList.map((item) => <ExperienceCard item={item} />)}
      </div>
    </div>
  </div>
  <Divider />
  <div id="form-section" class={styles["form-section-container"]}>
    <FormSection client:load currentLang={lang} />
  </div>
</main>
